

        <legend style="font-weight:bold;">Technical Support</legend>
        <div>
            <table>
                <tr>
                    <td>Support Website:</td><td class="column_value"><a href="http://support.riverbed.com/">http://support.riverbed.com/</a></td>
                </tr>
                <tr>
                    <td>Support Account Registration:</td><td class="column_value"><a href="https://support.riverbed.com/account/registration/register.htm">https://support.riverbed.com/account/registration/register.htm</a></td>
                </tr>
                <tr>
                    <td>Support Email:</td><td class="column_value"><a href="mailto:support@riverbed.com">support@riverbed.com</a></td>
                </tr>
                <tr>
                    <td>Phone:</td><td class="column_value"><strong>1-888-RVBD-TAC</strong> (1-888-782-3822) in the US and Canada</td>
                </tr>
                <tr>
                    <td></td><td class="column_value"><strong>1-415-247-7381</strong> outside the US and Canada</td>
                </tr>
                <tr>
                    <td>Documentation:</td><td class="column_value"><a href="https://support.riverbed.com/docs/index.htm">https://support.riverbed.com/docs/index.htm</a></td>
                </tr>
            </table>
        </div>
    <div style="padding-bottom:15px;"></div>
    <div id="appliance_details">
            <legend style="font-weight:bold;">Appliance Details</legend>
            <div>
                <table>
                    <tr>
                        <td>Model:</td><td class="column_value" data-bind="properties.model"></td>
                    </tr>
                    <tr>
                        <td>Software Version:</td><td class="column_value" data-bind="properties.sw_version"></td>
                    </tr>
                </table>
            </div>
   </div>