.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.panel {
  margin-top: 50px;
}

.th {
  width: 100%;
  height: 200px;

  img.right {
    width: 50px;
  }
}

.box-padding {
  padding: 1em;  
}


@media only screen and (max-width: 10em) {
    .title-area {
    }
    .name {

    }    
    .name img {
            height:35px;
            margin-top:5px;
            margin-left:5px;
    }
    .name a {
        margin-top:5px;
        margin-left:5px;
    }

    
}

.name img {    
    margin-left:20px;
    width: 40px;
    margin-bottom: 0.2em;
    
}

.login-box {
  background: #fff;
  border: 1px solid #ddd; 
  margin: 100px 0;
  padding: 40px 20px 0 20px;
  
}

.pricing-table.recommended li:not(:first-child){
  background-color: #368a55;
  color: #000;
  border: 0em;
}


#footer {
  height: 52px;
  padding: 15px 13px 0;
  padding-left: 233px;
  border-top: 1px solid #CECECE;
  background: #2a2725;
  width: 100%;
  position: absolute;
  display: block;
  bottom: 0;
  color: #fff;
}

// injector
// endinjector

#left-panel {
  background: #D3D3D3;
  height: 100%;

}
#left-panel .login-info {
  padding-left: 1.5em;
  display: block;
  overflow: hidden;
  margin-left: 0;
  list-style: none;
  background-color: #f4f4f4;  
  height: 1.9em;
  
  border-width: 1px 1px!important;
  border-radius: 0px !important;
}

.breadcrumbs {
  display: block;
  overflow: hidden;
  margin-left: 0;
  list-style: none;
  background-color: #f4f4f4;  
  border-width: 1px 0px!important;
  border-radius: 0px !important;
}
#left-panel nav ul li > a {
  color: #000;
}

#left-panel nav > ul, li {
  list-style-type: none;
}

#left-panel nav .has-child ul > li {
  padding-left: 0.8em;
}

.row{
  height:100%
}

#content {
  padding: 0em 1em;
}



