<nav class="top-bar" data-topbar  role="navigation" ng-controller="HeaderCtrl">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#/"><img src="assets/images/brocade.png" /><span class="ssc_logo">SteelApp Service Controller</span></a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a ng-href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li><a ng-href="#/"><span class="fa fa-arrows-alt"></span></a></li>
      <li><a ng-href="#/"><span class="fa fa-reorder"></span></a></li>
      <li><a ng-href="#/login" ng-click="logout()"><span class="fa fa-sign-out">&nbsp;</span>Logout</a></li>
    </ul>    
  </section>
</nav>
