<nav class="top-bar" data-topbar  role="navigation" ng-controller="NavbarCtrl">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#/"><img src="assets/images/brocade.png" />StealApp Service Controller</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a ng-href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
        <a ng-href="{{item.link}}"><span class="{{item.font}}"> &nbsp; </span>{{item.title}}</a>
      </li>
    </ul>
    <!--<ul class="left">
      <li><a ng-href="#">Current date: {{ date | date:'yyyy-MM-dd' }}</a></li>
    </ul>-->
  </section>
</nav>
<ul class="breadcrumbs">
  <li><a href="#">Home</a></li>
  <li><a href="#">Dashboard</a></li>
  <li class="unavailable"><a href="#">Testing</a></li>
  <li class="current"><a href="#">Page1</a></li>
</ul>
