<div class="container">

  <div ng-include="'components/navbar/navbar.html'"></div>
  <br />

  <div class="large-3 large-centered columns">
  <div class="login-box">
  <div class="row">
  <div class="large-12 columns">
    <form>
       <div class="row">
         <div class="large-12 columns">
             <input type="text" name="username" placeholder="Username" />
         </div>
       </div>
      <div class="row">
         <div class="large-12 columns">
             <input type="password" name="password" placeholder="Password" />
         </div>
      </div>
      <div class="row">
        <div class="large-12 large-centered columns">
          <input type="submit" class="button success center tiny" value="Log In"/>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
</div>
</div>